absl-py==1.4.0
adafruit-ampy==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
arabic-reshaper==2.1.4
asgiref==3.6.0
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
babelfish==0.6.0
beautifulsoup4==4.11.1
boto3==1.26.89
botocore==1.29.89
cachetools==5.3.0
certifi==2018.11.29
cffi==1.15.0
channels==4.0.0
chardet==3.0.4
charset-normalizer==2.0.12
circuitbreaker==1.3.2
click==8.1.3
colorama==0.4.6
coverage==4.5.2
coveralls==1.5.1
cryptography==3.4.7
cssselect2==0.7.0
cx-Oracle==8.3.0
decorator==5.1.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.1.4
django-allauth==0.49.0
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-decorator-include==3.0
django-js-asset==2.0.0
django-livereload-server==0.4
django-oci==0.0.16
django-on-heroku==1.1.2
django-pagination==1.0.7
django-ratelimit==3.0.0
django-rest-passwordreset==1.3.0
django-smart-selects==1.5.9
django-wsgi==1.0b1
djangorestframework==3.9.1
docopt==0.6.2
docutils==0.19
dynaconf==3.1.12
easy-pil==0.1.5
flatbuffers==23.3.3
frozenlist==1.3.0
future==0.18.2
gast==0.4.0
google-auth==2.17.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.53.0
gunicorn==20.1.0
h5py==3.8.0
html5lib==1.1
hvac==1.1.0
idna==2.8
jax==0.4.8
Jinja2==3.1.2
jmespath==1.0.1
keras==2.12.0
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
knox==0.1.14
libclang==16.0.0
loguru==0.6.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
ml-dtypes==0.0.4
multidict==6.0.2
mysql-connector==2.2.9
mysqlclient==2.1.0
numpy==1.23.5
oauthlib==3.2.0
oci==2.74.0
opencv-python==4.7.0.68
opt-einsum==3.3.0
oscrypto==1.3.0
packaging==23.0
Paginator==0.5.1
pdfkit==1.0.0
Pillow==9.3.0
protobuf==4.22.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.14.0
pyHanko==0.16.0
pyhanko-certvalidator==0.19.8
pyhcl==0.4.4
PyJWT==1.7.1
PyMySQL==1.0.2
pyOpenSSL==19.1.0
PyPDF3==1.0.6
pypiwin32==223
pyserial==3.5
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.18.0
python3-openid==3.2.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pywin32==305
PyYAML==6.0
qrcode==7.3.1
redis==4.5.4
reportlab==3.6.12
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rest-framework-simplejwt==0.0.2
rsa==4.9
s3transfer==0.6.0
scipy==1.10.1
shortuuid==1.0.11
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.1
supervisor==4.1.0
svglib==1.4.1
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
tinycss2==1.2.1
tornado==6.1
tqdm==4.64.1
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.2
Unipath==1.1
uritools==4.0.0
urllib3==1.26.15
validators==0.20.0
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==2.2.3
whitenoise==6.0.0
win32-setctime==1.1.0
wrapt==1.14.1
xhtml2pdf==0.2.8
yarl==1.7.2
